.username-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--color-light);
  height: 200px;
  width: 300px;
  padding: 20px;
  cursor: pointer;
  color: var(--color-gold);
  border-radius: 10px;
  transition: 0.5s;
}

.username-title {
  display: flex;
  margin-bottom: 10px;
}

.username-infos {
  display: flex;
  flex-direction: column;
}

.username-infos p {
  margin-top: 10px;
}
.username-infos p span {
  color: #fff;
}

.username-item:hover {
  background: rgb(15, 14, 14);
}
