.users--area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 50px;
}
